{% extends 'base.html' %}

{% block title %}Blog{% endblock title %}

{% block stylecss %}
    <style>
        .card {
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .card:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        .card img {
            transition: transform 0.3s ease;
        }

        .card:hover img {
            transform: scale(1.1);
        }
    </style>
{% endblock stylecss %}

{% block sectionheading %}Blog{% endblock sectionheading %}
{% block subsectionheading %}Explore for valuable resources to succeed in the financial markets{% endblock subsectionheading %}

{% block content %}
<div class="container my-5">
    <form class="text-muted my-5" method="get" action="{% url 'blog_view' %}">
        <p>Filter by Category:</p>
        <select name="category_id" id="category-select">
            <option value='0' selected>
                All
            </option>
            {% for category in categories %}
                <option value={{ category.id }}
                    {% if category.id == selected_category %}selected{% endif %}>
                    {{ category.name }}
                </option>
            {% endfor %}
        </select>
    </form>
    <div id="posts-container" class="row row-cols-1 row-cols-md-3 g-4">
        {% for post in live_posts %}
        <div class="col my-3">
            <a href="{% url 'blog_post_view' post_url=post.post_url %}" class="text-decoration-none">
                <div class="card h-100">
                    <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.alt }}">
                    <div class="card-body">
                        <h5 class="card-title text-dark">
                            <b>{{ post.title }}</b><br>
                        </h5>
                        <h5>
                        {% for category in post.categories.all %}
                            <span class="badge badge-secondary">{{ category.name }}</span>
                        {% endfor %}
                        </h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{ post.reading_time }} min</small>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    document.getElementById("category-select").addEventListener("change", function () {
        const categoryId = this.value;

        fetch("{% url 'blog_view' %}?category_id=" + categoryId, {
            method: "GET",
            headers: {
                "X-Requested-With": "XMLHttpRequest",
            },
        })
        .then(response => response.json())
        .then(data => {
            const container = document.getElementById("posts-container");
            container.innerHTML = "";
            data.live_posts.forEach(post => {
                const postHtml = `
                <div class="col my-3">
                    <a href="/blog/${post.post_url}" class="text-decoration-none">
                        <div class="card h-100">
                            <img src="${post.image}" class="card-img-top" alt="${post.alt}">
                            <div class="card-body">
                                <h5 class="card-title text-dark">
                                    <b>${post.title}</b><br>
                                </h5>
                                <h5>
                                    ${post.categories.map(category => `<span class="badge badge-secondary">${category.name}</span>`).join(' ')}
                                </h5>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">${post.reading_time} min</small>
                            </div>
                        </div>
                    </a>
                </div>`;
                container.insertAdjacentHTML("beforeend", postHtml);
            });
        })
        .catch(error => console.error("Error fetching posts:", error));
    });
</script>
{% endblock content %}