{% extends 'base.html' %}

{% block title %}Blog{% endblock title %}

{% block stylecss %}
<style>
#blog-container {
  flex-direction: row !important;
}

@media screen and (max-width: 800px) {
  #blog-container {
    flex-direction: column !important;
  }

  #toc_sidebar {
    border-left:0 !important;
  }

  #sidebarred{
    order:-1;
    position: static !important;
    height: auto !important;
  }

  .ph_br{
    display:inline !important;
  }

  .ph_ic{
    margin-left:0px !important;
    justify-content:center;
  }
}
</style>
{% endblock stylecss %}

{% block scriptjs %}
<script src="/static/js/scrollspy.js" ></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#accordionExample').on('show.bs.collapse', function (e) {
      $('#headingOne').find('i').removeClass('fa-arrow-down').addClass('fa-arrow-up');
    });

    $('#accordionExample').on('hide.bs.collapse', function () {
      $('#headingOne').find('i').removeClass('fa-arrow-up').addClass('fa-arrow-down');
    })
  });
</script>
{% endblock scriptjs %}

{% block sectionheading %}{{ post.title }}{% endblock sectionheading %}
{% block subsectionheading %}<i class="fa-solid fa-user-pen mr-2 ph_ic"></i>{{ post.author }}<br class="ph_br" style="display:none;">
<i class="fa-regular fa-calendar-days mr-2 ml-5 ph_ic"></i>{{ post.updated_at }}<br  class="ph_br" style="display:none;">
<i class="fa-regular fa-clock mr-2 ml-5 ph_ic"></i>{{ post.reading_time }} mins
{% endblock subsectionheading %}

{% block content %}

<div class="text-center">
    <img src="{{ post.cover_image.url }}" class="img-fluid" style="width: 80%; height: auto;">
</div>
<div class="container d-flex bg-white py-5" id="blog-container">
    <div class="flex-grow-1 col-md-8 text-justify" id="article-content">
        {% for section in sections %}
            <section id="{{ section.id }}" class="scrollspy-section">
                {% if section.section_title %}
                <h4><b>{{ section.section_title }}</b></h4>
                {% endif %}
                {{ section.content_text | safe }}
                {% if section.section_image %}
                    <img src="{{ section.section_image.url }}" class="img-fluid mb-3" style="width: 100%; height: auto;">
                {% endif %}
            </section>
        {% endfor %}
    </div>
    <div class="col-md-4 sticky-top" style="height:500px; top:0px;" id="sidebarred">
        <div class="row">
          <div class="w-100 border-left p-3" id="toc_sidebar">
            <nav class="flex-column pe-4">
              <nav class="nav nav-pills flex-column scrollspy-nav">
                <div class="container">
                <div class="d-flex border-bottom py-3 mb-3 align-items-center">
                      <p class="flex-grow-1 mb-0"><b>Share</b></p>
                      <!-- Google -->
                      <a href="https://www.google.com/" style="width:40px;height:40px;" target="_blank" class="btn btn-outline-danger flex-grow-1">
                        <i class="fab fa-google"></i>
                      </a>
                      <!-- Facebook -->
                      <a href="https://www.facebook.com/" style="width:40px;height:40px;" target="_blank" class="btn btn-outline-primary flex-grow-1">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                      <!-- LinkedIn -->
                      <a href="https://www.linkedin.com/" style="width:40px;height:40px;" target="_blank" class="btn btn-outline-info flex-grow-1">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                      <!-- Reddit -->
                      <a href="https://www.reddit.com/" style="width:40px;height:40px;" target="_blank" class="btn btn-outline-warning flex-grow-1">
                        <i class="fab fa-reddit-alien"></i>
                      </a>
                      <!-- Twitter -->
                      <a href="https://twitter.com/" style="width:40px;height:40px;" target="_blank" class="btn btn-outline-secondary flex-grow-1">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </div>
                </div>

                <div class="accordion" id="accordionExample">
                  <div class="card rounded-0">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="cursor:pointer;">
                        <b>Table of Contents <i class="fa-solid fa-arrow-up"></i></b>
                      </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        {% for section in sections %}
                            {% if section.section_title %}
                                <li>
                                    <a class="btn btn-outline-secondary border-0" href="#{{ section.id }}">{{ section.section_title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
            </nav>
          </div>
    </div>
</div>
</div>
{% if request.user.is_authenticated %}
  <div class="container bg-white mb-5 py-5 d-flex">
    <button class="btn btn-outline-primary flex-grow-1 pt-3"><div class="container"><b>&lt&lt Previous</b><br><p>Article Title</p></div></button>
    <button class="btn btn-outline-primary flex-grow-1 pt-3"><div class="container"><b>Next &gt&gt</b><br><p>Article Title</p></div></button>
  </div>
{% endif %}
{% endblock content %}
