{% extends 'base.html' %}

{% block title %}Join Today{% endblock title %}

{% block sectionheading %}Join Us!{% endblock sectionheading %}
{% block subsectionheading %}Create a new account and join us to unlock new horizons{% endblock subsectionheading %}

{% block content %}
{% if request.user.is_authenticated %}

	{% include 'already_logged_in_message.html' %}

{% else %}
<div class="container">
	<div class="row justify-content-center mt-5 mb-5">
		<div class="col-md-6">
			<form action="{% url 'register' %}" id="registration_form" method="POST">
				{% csrf_token %}
				<div class="form-group d-flex">
					<input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter your first name" required>
					<input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter your last name">
				</div>
				<div class="form-group">
					<input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address" required>
				</div>
				<div class="form-group">
					<div class="input-group">
						<input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
						<div class="input-group-append">
							<span class="input-group-text btn-outline-secondary" style="cursor: pointer;" id="togglePassword1">
								<i class="fa fa-eye" id="toggleIcon1"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Confirm your password" required>
						<div class="input-group-append">
							<span class="input-group-text btn-outline-secondary" style="cursor: pointer;" id="togglePassword2">
								<i class="fa fa-eye" id="toggleIcon2"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="alert alert-info alert-dismissible fade" id="formPasswordDetails" role="alert" style="display:none;">
					<strong>Password Requirements:</strong><br>
						Please ensure your password meets the following criteria:
						<ul>
							<li>Contains at least one capital letter (A-Z)</li>
							<li>Includes at least one small letter (a-z)</li>
							<li>Has at least one digit (0-9)</li>
							<li>Contains at least one special character [!@#$%^&*()_+{}:;"'<>,.?~`]</li>
							<li>Is between 6 and 20 characters in length</li>
						</ul>
					Thank you for following these guidelines to help keep your account secure!
					<button type="button" class="close" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<button type="submit" id="register_button" class="btn btn-success btn-block">Sign Up</button>
			</form>
			<hr>
			<div class="text-center">
				<p>Or signup using</p>
				<div class="d-flex flex-row">
					<form class="border mr-2 flex-grow-1" action="" method="POST">
						{% csrf_token %}
						<button class="btn btn-danger w-100 h-100" type="submit" aria-label="Login with Google">
							<i class="fab fa-google"></i>
						</button>
					</form>
					<form class="border mr-2 flex-grow-1" action="" method="POST">
						{% csrf_token %}
						<button class="btn btn-primary w-100 h-100" type="submit" aria-label="Login with Facebook">
							<i class="fab fa-facebook-f"></i>
						</button>
					</form>
					<form class="border mr-2 flex-grow-1" action="" method="POST">
						{% csrf_token %}
						<button class="btn btn-dark w-100 h-100" type="submit"  aria-label="Login with Apple">
							<i class="fab fa-apple"></i>
						</button>
					</form>
				</div>
			</div>
			<div class="text-center mt-3 mb-5">
				<p>Already have an account? <a class="text-success" href="{% url 'login' %}">Login here</a></p>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock content %}