{% extends 'base.html' %}

{% block extra_head %}
<style>
.header{
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
}
</style>
{% endblock %}

{% block content %}
<div class="d-flex flex-column header align-items-center justify-content-center w-100 py-5">
	<h1 class="text-white fw-bold"e:>About this Website!</h1>
</div>
{% endblock content %}