{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="csrf-token" content="{{ csrf_token }}">
    <title>{% block title %}Price Action Repository!{% endblock title %}</title>
	<script src="https://kit.fontawesome.com/8414073804.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
	<script src="https://accounts.google.com/gsi/client" async defer></script>
	<script>
		window.onload = function() {
			setTimeout(() => {
				document.getElementById("spinner-container").style.display="none";
				document.getElementById("spinner-container").style.zIndex = "-999";
			}, 500);
		};
	</script>
	 <style>
		.btn {
			border-radius:0;
		}
		.spinner-container {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: white;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 9999;
		}
	 </style>
	 {% block stylecss %}
	 {% endblock stylecss %}
	 {% block headers %}
	 {% endblock headers %}
</head>
<body>
    <div id="spinner-container" class="spinner-container flex-column">
        <div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status"></div>
		<div class="text-success"><b>Learn and Earn!</b></div>
    </div>
		<nav class="px-5 navbar navbar-expand-lg navbar-light d-flex align-items-center justify-content-center" id="navigation-bar">
			<a class="navbar-brand d-flex align-items-center justify-content-center" href="" style="font-family: Oswald;">
				<img src="{% static 'logo.svg' %}" width="45" height="45" class="d-inline-block align-top" alt="logo">
				Price Action Repository
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto" style="font-family: Oswald;font-weight:700;">
					{% if request.user.is_authenticated %}
					<li class="nav-item mr-3 {% if request.resolver_match.url_name == 'home_view' %}active{% endif %}">
						<a class="nav-link" href="{% url 'home_view' %}">HOME</a>
					</li>
					{% endif %}
					<li class="nav-item mr-3 {% if request.resolver_match.url_name == 'blog_view' %}active{% endif %}">
						<a class="nav-link" href="{% url 'blog_view' %}">BLOG</a>
					</li>
					{% if request.user.is_authenticated %}
					<li class="nav-item mr-3 {% if request.resolver_match.url_name == 'course_view' %}active{% endif %}">
						<a class="nav-link" href="{% url 'course_view' %}">COURSES</a>
					</li>
					{% endif %}
					{% if request.user.is_authenticated %}
						<li class="d-flex nav-item mr-3" id="myAccDropdown">
							<div class="dropdown">
								<button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								My Account
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
									<a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
									<form method="POST" id="logout_form">
										{% csrf_token %}
										<button class="dropdown-item" type="submit">Log Out</button>
									</form>
								</div>
							</div>
						</li>
						<li class="d-flex nav-item align-items-center" id="account_btns">
							<div class="btn-group" role="group" aria-label="myaccount">
								<a type="button" class="btn btn-success btn-sm"
								 href="{% url 'register' %}">SIGN UP</a>
								<a type="button" class="btn btn-outline-success btn-sm" href="{% url 'login' %}">SIGN IN</a>
							</div>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>

		<div class="alert alert-dismissible fade show" role="alert" id="response_messages" style="display:none;">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

	{% if messages %}
		<div id="messages">
			{% for message in messages %}
				{% if message.tags == 'error' %}
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
				{% else %}
					<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">{% endif %}
						{{ message }}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
			{% endfor %}
		</div>
	{% endif %}

	<section class="bg-light">
		<div class="row pt-5 pb-5">
			<div class="col-12 text-center">
				<h1 style="color:#333;"><strong>{% block sectionheading %}{% endblock sectionheading %}</strong></h1>
				<p class="text-muted">{% block subsectionheading %}{% endblock subsectionheading %}</p>
			</div>
		</div>
	</section>
	{% block content %}

	{% endblock content %}

	  <footer class="col-md-4 py-4 my-4 border-top" style="font-family: Oswald;">
		<div class="text-center">
		  <p class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 Price Action Repository</p>
		</div>
	  </footer>
	</div>
	</div>
	{% block scriptjs %}

	{% endblock scriptjs %}
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
	<script src="{% static 'js/authManager.js' %}"></script>
	<script type="text/javascript">

		document.addEventListener("DOMContentLoaded", async function() {
			const auth = new authManager("http://127.0.0.1:8000/");

			const registrationForm = document.getElementById("registration_form");
			const loginForm = document.getElementById("login_form");
			const logoutForm = document.getElementById("logout_form");

			if (registrationForm) {
				registrationForm.addEventListener("submit", function(event) {
					event.preventDefault();

					console.log("register");

					const registerButton = document.getElementById("register_button");

					if (registerButton) {
						const first_name = document.getElementById("first_name").value;
						const last_name = document.getElementById("last_name").value;
						const email = document.getElementById("email").value;
						const password = document.getElementById("password").value;
						const password_confirm = document.getElementById("password_confirm").value;

						auth.register(first_name, last_name, email, password, password_confirm, registerButton);
					} else {
						console.error("register_button element not found on the page.");
					}
				});
			}

			if(loginForm){
				loginForm.addEventListener("submit", function(event) {
					event.preventDefault();

					console.log("login");

					const loginButton = document.getElementById("login_btn");

					if (loginButton) {
						const email = document.getElementById("email").value;
						const password = document.getElementById("password").value;

						auth.login(email, password, loginButton);
					}
				});
			}

			if(logoutForm){
				logoutForm.addEventListener("submit", function(event) {
					event.preventDefault();

					console.log("logging out...");

					const myAccDropdown = document.getElementById("myAccDropdown");
					auth.logout(myAccDropdown);
				});
			}
		});
	</script>
</body>
</html>
