{% extends 'base.html' %}
{% load static %}

{% block bannerimg %}style="background: none">
{% endblock bannerimg %}
{% block sectionheading %}Hi, <br>Welcome to <i>Price Action Repository!</i>{% endblock sectionheading %}
{% block subsectionheading %}<b class="text-success">This platform was created with the mission to spread financial literacy and <br> empower individuals like you to take charge of your financial future.</b><br>
<a href="{% url 'register' %}" class="btn btn-lg btn-dark m-3" >Get Started</a>{% endblock subsectionheading %}

{% block content %}
<div class="d-flex justify-content-center">
    <img src="{% static 'nifty.png' %}" alt="Centered Image" class="img-fluid" style="border-radius:20px;max-width: 50%; height: auto;box-shadow:0px 5px 5px 5px grey;">
</div>

<!--
<div class="my-5 py-5 mx-3" style="background:#90EE90;border-radius:20px;">
    <div class="d-flex flex-column justify-content-center align-items-center input-group p-5">
        <h3>Subscribe to stay updated with latest developments</h3>
        <div class="input-group-append">
            <input type="text" class="form-control w-100" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-success" type="button" id="button-addon2">Button</button>
        </div>
    </div>
</div>
-->
{% endblock content %}